{% extends 'administracion/base2.html' %}

{% block content %}
<style>
    body {
        overflow-x: hidden;
    }
    select, select option {
        color: white !important;
        background-color: black !important;
    }
</style>

<div class="container mt-5">
    <div class="p-4 mx-auto" style="background-color: black; color: white; max-width: 95%; border: 2px solid white; border-radius: 10px;">
        <div class="text-center mb-4">
            <h4>CREAR PARTIDO</h4>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="row">
                <!-- Primer campo: Equipo 1 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_equipo_1" style="color: white; text-align: center; display: block;">Equipo 1:</label>
                        <select name="id_equipo_1" class="form-control" id="id_equipo_1" style="background-color: black; color: white; border: 1px solid white;">
                            <option value="" disabled selected>Selecciona el equipo 1</option>
                            {% for equipo in form.id_equipo_1.field.queryset %}
                                <option value="{{ equipo.id }}">{{ equipo.nombre_equipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Segundo campo: Equipo 2 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_equipo_2" style="color: white; text-align: center; display: block;">Equipo 2:</label>
                        <select name="id_equipo_2" class="form-control" id="id_equipo_2" style="background-color: black; color: white; border: 1px solid white;">
                            <option value="" disabled selected>Selecciona el equipo 2</option>
                            {% for equipo in form.id_equipo_2.field.queryset %}
                                <option value="{{ equipo.id }}">{{ equipo.nombre_equipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Primer campo: Grupo -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_grupo" style="color: white; text-align: center; display: block;">Grupo:</label>
                        <select name="id_grupo" class="form-control" id="id_grupo" style="background-color: black; color: white; border: 1px solid white;">
                            <option value="" disabled selected>Selecciona un grupo</option>
                            {% for grupo in form.id_grupo.field.queryset %}
                                <option value="{{ grupo.id }}">{{ grupo.nombre_grupo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Segundo campo: Predio -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_predio" style="color: white; text-align: center; display: block;">Predio:</label>
                        <select name="id_predio" class="form-control" id="id_predio" style="background-color: black; color: white; border: 1px solid white;">
                            <option value="" disabled selected>Selecciona un predio</option>
                            {% for predio in form.id_predio.field.queryset %}
                                <option value="{{ predio.id }}">{{ predio.nombre_predio }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Primer campo: Fecha del Partido -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_fecha_partido" style="color: white; text-align: center; display: block;">Fecha del Partido:</label>
                        <input type="date" name="fecha_partido" class="form-control" id="id_fecha_partido" style="background-color: black; color: white; border: 1px solid white;">
                    </div>
                </div>

                <!-- Segundo campo: Hora del Partido -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_hora_partido" style="color: white; text-align: center; display: block;">Hora del Partido:</label>
                        <input type="time" name="hora_partido" class="form-control" id="id_hora_partido" style="background-color: black; color: white; border: 1px solid white;">
                    </div>
                </div>
            </div>
                        
            <div class="row">
                <!-- Campo: Destacado -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_destacado" style="color: white; text-align: center; display: block;">Destacado:</label>
                        <select id="id_destacado" name="destacado" class="form-control" style="background-color: black; color: white; border: 1px solid white;">
                            <option value="False" selected>No</option>
                            <option value="True">Sí</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" style="margin: 10px; width: 150px;">
                    Guardar
                </button>
                <a href="{% url 'fechas' temporada.id %}" class="btn btn-danger" style="margin: 10px; width: 150px;">
                    Cancelar
                </a>
            </div>
        </form>
    </div>

{% endblock %}
