{% extends 'administracion/base2.html' %}

{% block content %}

<div class="container mt-5">
    <div class="p-4 mx-auto" style="background-color: black; color: white; max-width: 60%; border: 2px solid white; border-radius: 10px;">
        <div class="text-center mb-4">
            <h1>Crear Tipo de Torneo</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> 
                    Guardar
                </button>
                <form action="{% url 'tipotorneos_adm' %}" method="get" style="display:inline;">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> <!-- Ícono de volver atrás -->
                        Volver atrás
                    </button>
                </form>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% endblock %}
