{% extends 'administracion/baseadm.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Jugador</title>
</head>
<body>
    {{error}}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button>GUARDAR</button>
    </form>
    <a href="{% url 'jugadores' %}">
        <button>CANCELAR</button>
    </a>
</body>
</html>
{% endblock %}