{% extends 'administracion/base2.html' %}
{% load static %}

{% block content %}
<style>
    body {
    overflow-x: hidden;
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-fluid mt-5">
    <div class="p-4 mx-auto" style="background-color: black; color: white; border: 2px solid white; border-radius: 10px;">
        <div class="text-center mb-4">
            <h1>CREAR ENTRENADOR</h1>
        </div>

        {% if error %}
        <div class="alert alert-danger text-center">
            {{ error }}
        </div>
        {% endif %}

        <form action="/entrenadores/crear/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 text-center">
                    <div style="width: 150px; height: 150px; border-radius: 50%; border: 2px solid white; margin: auto; overflow: hidden;">
                        <img src="{% static 'media/fotos_jugador/jugador_default.png' %}" id="fotoPreviewEntrenador" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>

                    <div class="mt-2">
                        <label for="foto_entrenador" class="btn btn-primary">Elegir Foto</label>
                        <input type="file" name="foto_entrenador" id="foto_entrenador" accept="image/*" onchange="previewFotoEntrenador(event)" style="display: none;">
                    </div>
                    <button type="button" class="btn btn-warning mt-2" onclick="clearImageEntrenador()">Limpiar Imagen</button>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="nombre_entrenador" style="color: white;">Nombre del Entrenador:</label>
                            <input type="text" id="nombre_entrenador" name="nombre_entrenador" class="form-control" required style="background-color: black; color: white; border: 1px solid white;">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellido_entrenador" style="color: white;">Apellido del Entrenador:</label>
                            <input type="text" id="apellido_entrenador" name="apellido_entrenador" class="form-control" required style="background-color: black; color: white; border: 1px solid white;;">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='form-group col-md-6'>
                            <label for='dni_entrenador' style='color: white;'>DNI:</label>
                            <input type='text' id='dni_entrenador' name='dni_entrenador' class='form-control' required style='background-color: black; color: white; border: 1px solid white;'>
                        </div>
                        <div class='form-group col-md-6'>
                            <label for='fecha_nac_entrenador' style='color: white;'>Fecha de Nacimiento:</label>
                            <input type='date' id='fecha_nac_entrenador' name='fecha_nac_entrenador' class='form-control' required style='background-color: black; color: white; border: 1px solid white;'>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_equipo" style="color: white;">Equipo:</label>
                            <select name="id_equipo" id="id_equipo" class="form-control" style="background-color: black; color: white; border: 1px solid white;">
                                <option value="">Selecciona un equipo</option>
                                {% for equipo in form.id_equipo.field.queryset %}
                                    <option value="{{ equipo.id }}" {% if equipo.id == form.id_equipo.value %}selected{% endif %}>{{ equipo.nombre_equipo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                </div>             
            </div>

            <!-- Botones de Guardar y Cancelar -->
            <div class='d-flex justify-content-center'>
                <button type='submit' class='btn btn-success' style='margin: 10px; width: 150px;'>Guardar</button>
                <a href='{% url 'entrenadores' %}' class='btn btn-danger' style='margin: 10px; width: 150px;'>Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script>
// Función para previsualizar la imagen seleccionada
function previewFotoEntrenador(event) {
    const fotoPreview = document.getElementById('fotoPreviewEntrenador');
    const file = event.target.files[0];

    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            fotoPreview.src = e.target.result;
            fotoPreview.style.display = 'block';
        };
        reader.readAsDataURL(file);
    } else {
        // Si no hay archivo, mostrar imagen por defecto
        fotoPreview.src = '{% static "media/fotos_jugador/jugador_default.png" %}';
    }
}

// Función para limpiar la imagen
function clearImageEntrenador() {
    const fotoPreview = document.getElementById('fotoPreviewEntrenador');
    const fileInput = document.getElementById('foto_entrenador');

    fotoPreview.src = "{% static 'media/fotos_jugador/jugador_default.png' %}";
    fileInput.value = ""; // Limpiar el campo de archivo
}
</script>

{% endblock %}