{% extends 'administracion/base2.html' %}

{% block content %}
<style>
    body {
    overflow-x: hidden; 
}
</style>

    <h1>Cambiar equipo</h1>
    <form action="{% url 'equipo_importado_cambiar' temporada zona equipo %}" method="post">
        {% csrf_token %}
        <label for="equipo">Selecciona un nuevo equipo:</label>
        <select name="equipo" id="equipo">
            {% for equipo_nuevo in equipos %}
                <option value="{{ equipo_nuevo.id }}" {% if equipo_nuevo.id == relacion.id_equipo.id %}selected{% endif %}>
                    {{ equipo_nuevo.nombre_equipo }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Actualizar equipo</button>
    </form>
    <a href="{% url 'equipo_importado' temporada zona equipo %}">
        <button>Cancelar</button>
    </a>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}