{% extends 'administracion/base2.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ temporada.nombre_temporada }}</h1>
    <h2>{{ temporada.id_torneo.nombre_torneo }}</h2>

    <a href="{% url 'zonas' temporada.id %}">
        <button>ZONAS</button>
    </a>
    <a href="">
        <button>FIXTURE</button>
    </a>
</body>
</html>
{% endblock %}