{% extends 'administracion/base2.html' %}

{% block content %}
<div class="container mt-5">
    <div class="p-4 mx-auto" style="background-color: black; color: white; max-width: 95%; border: 2px solid white; border-radius: 10px;">
        <h1 class="text-center mb-4">IMPORTAR JUGADOR AL EQUIPO</h1>
        <form action="{% url 'importar_jugador_equipo' temporada.id zona.id equipo.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3 text-center">
                <label for="jugador" class="form-label" style="display: block; margin-bottom: 10px;">Selecciona un jugador:</label>
                <select name="jugador" id="jugador" class="form-select" 
                        style="width: 100%; background-color: black; color: white; border: 2px solid white; border-radius: 5px; padding: 10px;">
                        <option value="" disabled selected>Seleccione un jugador...</option>
                    {% for jugador in jugadores %}
                        <option value="{{ jugador.id }}" style="background-color: black; color: white;">
                            {{ jugador.nombre_jugador }} {{ jugador.apellido_jugador }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">CONFIRMAR</button>
                <a href="{% url 'equipo_importado' temporada.id zona.id equipo.id %}" class="btn btn-danger">CANCELAR</a>
            </div>
        </form>
        {% if messages %}
            <ul class="mt-3 text-center" style="list-style: none; padding: 0;">
                {% for message in messages %}
                    <li style="color: #f0ad4e;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
