<!-- myapp/templates/equipos/lista_equipos.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Equipos</title>
</head>
<body>
    <h1>Lista de Equipos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Equipo</th>
                <th>Logo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.id_equipo }}</td>
                <td>{{ equipo.nombre_equipo }}</td>
                <td>
                    {% if equipo.logo_equipo %}
                        <img src="{{ equipo.logo_equipo }}" alt="Logo de {{ equipo.nombre_equipo }}" width="50">
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
                <td>
                    {% if equipo.foto_equipo %}
                        <img src="{{ equipo.foto_equipo }}" alt="Foto de {{ equipo.nombre_equipo }}" width="50">
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
