{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Columna de la izquierda con tres cajas -->
        <div class="col-md-8">
            <div class="row">
                <!-- Información del Torneo y Temporada -->
                <div class="col-md-12 mb-3">
                    <div class="p-3 rounded" style="background-color: #000000; color: #ffffff; border: 2px solid #ffffff;">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-grow-1 align-items-center justify-content-between">
                                {% if temporada_anterior %}
                                    <a href="{% url 'temporada_detalles' id_temporada=temporada_anterior.id_temporada %}" class="btn btn-light">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                {% else %}
                                    <span class="btn btn-light disabled">
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                {% endif %}
                                
                                <div class="text-center flex-grow-1">
                                    <h2><strong>{{ torneo.nombre_torneo }}</strong></h2>
                                    <p><strong>Tipo de Torneo:</strong> {{ torneo.id_tipo_torneo.nombre_tipo_torneo }}</p>
                                    <p><strong style="text-transform: uppercase; font-size: 1.5rem;">{{ temporada.nombre_temporada }}</strong></p>
                                </div>
                                
                                {% if temporada_siguiente %}
                                    <a href="{% url 'temporada_detalles' id_temporada=temporada_siguiente.id_temporada %}" class="btn btn-light">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                {% else %}
                                    <span class="btn btn-light disabled">
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tabla de Posiciones -->
                <div class="col-md-12 mb-3">
                    <div class="p-3 rounded" style="background-color: #000000; color: #ffffff; border: 2px solid #ffffff;">
                        <h3 class="text-center">TABLA DE POSICIONES</h3>
                            {% if tabla_posiciones %}
                            <div class="table-responsive">
                                <style>
                                    .table-custom th, .table-custom td {
                                        font-size: 12px; /* Ajusta el tamaño de la fuente */
                                        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                        overflow: hidden; /* Oculta el desbordamiento del texto */
                                        text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                                    }
                                    .table-custom th:nth-child(2), .table-custom td:nth-child(2) {
                                        width: 20%; /* Ajusta el ancho de la columna EQUIPO */
                                    }
                                    .table-custom th:nth-child(n+3), .table-custom td:nth-child(n+3) {
                                        width: 6%; /* Ajusta el ancho de las columnas desde PTS hasta TR */
                                    }
                                </style>
                                <table class="table table-sm table-custom">
                                    <thead>
                                        <tr class="text-white">
                                            <th class="text-center" style="width: 5%;">POS</th>
                                            <th style="width: 20%;">EQUIPO</th>
                                            <th class="text-center">PTS</th>
                                            <th class="text-center">PJ</th>
                                            <th class="text-center">PG</th>
                                            <th class="text-center">PE</th>
                                            <th class="text-center">PP</th>
                                            <th class="text-center">GF</th>
                                            <th class="text-center">GC</th>
                                            <th class="text-center">DG</th>
                                            <th class="text-center">TA</th>
                                            <th class="text-center">TR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for posicion in tabla_posiciones %}
                                            <tr class="text-white">
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td>{{ posicion.id_equipo.nombre_equipo }}</td>
                                                <td class="text-center">{{ posicion.puntos }}</td>
                                                <td class="text-center">{{ posicion.partidos_jugados }}</td>
                                                <td class="text-center">{{ posicion.partidos_ganados }}</td>
                                                <td class="text-center">{{ posicion.partidos_empatados }}</td>
                                                <td class="text-center">{{ posicion.partidos_perdidos }}</td>
                                                <td class="text-center">{{ posicion.goles_a_favor }}</td>
                                                <td class="text-center">{{ posicion.goles_en_contra }}</td>
                                                <td class="text-center">{{ posicion.diferencia_goles }}</td>
                                                <td class="text-center">{{ posicion.tarjetas_amarillas }}</td>
                                                <td class="text-center">{{ posicion.tarjetas_rojas }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div style="text-align: center;">
                                <p>No hay datos de tabla de posiciones disponibles para esta temporada.</p>
                            </div>
                        {% endif %}
                        
                        <!-- Texto adicional debajo de la tabla -->
                        <div class="mt-3">
                            <div class="row text-center">
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>POS</strong> Posición</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>PG</strong> Partidos Ganados</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>GF</strong> Goles a Favor</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>TA</strong> Tarjetas Amarillas</p>
                                </div>
                            </div>
                            <div class="row text-center mt-2">
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>PTS</strong> Puntos</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>PE</strong> Partidos Empatados</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>GC</strong> Goles en Contra</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>TR</strong> Tarjetas Rojas</p>
                                </div>
                            </div>
                            <div class="row text-center mt-2">
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>PJ</strong> Partidos Jugados</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>PP</strong> Partidos Perdidos</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="font-size: 0.75rem;"><strong>DF</strong> Diferencia de Goles</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tercera caja -->
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="p-3 rounded" style="background-color: #000000; color: #ffffff; border: 2px solid #ffffff; width: 100%;">
                        <h3 class="text-center">Partidos</h3>
                    
                        <!-- Estilo específico para la caja de partidos -->
                        <style>
                            .partidos .list-group-item {
                                font-size: 12px; /* Ajusta el tamaño de la fuente */
                                white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                overflow: hidden; /* Oculta el desbordamiento del texto */
                                text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                                background-color: #000000; /* Fondo negro para los partidos */
                                color: #ffffff; /* Texto blanco */
                                border-bottom: 2px solid #ffffff; /* Línea blanca para separar los partidos */
                            }
                        
                            /* Quitar la línea blanca en el último partido */
                            .partidos .list-group-item:last-child {
                                border-bottom: none;
                            }
                        
                            .fecha-item {
                                border: none; /* Elimina bordes en el contenedor de la fecha */
                            }
                        
                            .list-group-item {
                                border: none; /* Elimina el borde predeterminado */
                            }
                        
                            .partidos ul {
                                padding-left: 0; /* Elimina el padding de la lista */
                            }
                        </style>
                
                        <!-- Contenedor flexible para botones de navegación y subtítulo -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <button id="prevFecha" class="btn btn-light">
                                <i class="fa fa-chevron-left"></i>
                            </button>
                        
                            <h6 class="text-center flex-grow-1 mb-0" id="fechaSeleccionada">Fecha</h6>
                        
                            <button id="nextFecha" class="btn btn-light">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    
                        <!-- Lista de partidos -->
                        <div class="partidos">
                            {% if fechas_y_partidos %}
                                <ul class="list-group text-center" id="listaPartidos">
                                    {% for fecha, partidos in fechas_y_partidos %}
                                        <li class="list-group-item fecha-item" style="background-color: #000000; color: #ffffff;" data-fecha="{{ fecha.nombre_fecha }}">
                                            <ul class="list-group mt-2">
                                                {% for partido in partidos %}
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-2">{{ partido.fecha_partido|date:"d/m/Y" }}</div>
                                                            <div class="col-md-2">{{ partido.hora_partido|time:"H:i" }}</div>
                                                            <div class="col-md-2 d-flex justify-content-end">{{ partido.id_equipo_1.nombre_equipo }}</div>
                                                            <div class="col-md-2 text-center">{{ partido.resultado }}</div>
                                                            <div class="col-md-2 d-flex justify-content-start">{{ partido.id_equipo_2.nombre_equipo }}</div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="text-center">No hay partidos disponibles esta temporada.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Columna de la derecha con cuatro cajas -->
        <div class="col-md-4">
            <div class="row">
                <!-- Primera caja -->
                <div class="col-md-12 mb-3 d-flex justify-content-center">
                    <div class="p-3 rounded" style="background-color: #000000; color: #ffffff; border: 2px solid #ffffff; width: 100%;">
                        <h3 class="text-center">Partido Destacado</h3>
                        <p class="text-center">Acá va el partido destacado que seleccione el Administrador del Torneo</p>
                    </div>
                </div>

                <!-- Segunda caja -->
                <div class="col-md-12 mb-3">
                    <div class="p-3 rounded" style="background-color: #000000; color: #ffffff; border: 2px solid #ffffff;">
                        <!-- Contenedor para el título -->
                        <h3 class="text-center">Ranking de Jugadores</h3>
                
                        <!-- Contenedor flexible para botones de navegación y subtítulo -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <button id="btn-izquierda" class="btn btn-light">
                                <i class="fa fa-chevron-left"></i>
                            </button>
                
                            <h6 class="text-center flex-grow-1 mb-0" id="ranking-subtitle">GOLEADORES</h6>
                
                            <button id="btn-derecha" class="btn btn-light">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                
                        <!-- Sección de Ranking de Jugadores -->
                        <div id="ranking-section">
                            <!-- Sección de Goleadores -->
                            <div id="goleadores-section" class="ranking-section">
                                {% if ranking_jugadores %}
                                    <div class="table-responsive">
                                        <style>
                                            .table-goleadores th, .table-goleadores td {
                                                font-size: 12px; /* Ajusta el tamaño de la fuente */
                                                white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                                overflow: hidden; /* Oculta el desbordamiento del texto */
                                                text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                                            }
                                        </style>
                                        <table class="table table-goleadores">
                                            <thead>
                                                <tr class="text-white">
                                                    <th class="text-center" style="width: 5%;">POS</th>
                                                    <th style="width: 50%;">JUGADOR</th>
                                                    <th class="text-center" style="width: 20%;">TOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for jugador in ranking_jugadores %}
                                                    <tr class="text-white">
                                                        <td class="text-center">{{ forloop.counter }}</td>
                                                        <td>
                                                            {{ jugador.id_jugador__apellido_jugador }}, {{ jugador.id_jugador__nombre_jugador }}
                                                            <br>
                                                            <small>{{ jugador.id_jugador__temporadasxtorneosxequiposxjugadores__id_equipo__nombre_equipo }}</small>
                                                        </td>
                                                        <td class="text-center">{{ jugador.total_goles }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="text-center">
                                        <p>No hay datos de ranking de goleadores disponibles para esta temporada.</p>
                                    </div>
                                {% endif %}
                            </div>
                        
                            <!-- Sección de Máximos Figuras -->
                            <div id="figuras-section" class="ranking-section d-none">
                                {% if ranking_figuras %}
                                    <div class="table-responsive">
                                        <style>
                                            .table-figuras th, .table-figuras td {
                                                font-size: 12px; /* Ajusta el tamaño de la fuente */
                                                white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                                overflow: hidden; /* Oculta el desbordamiento del texto */
                                                text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                                            }
                                        </style>
                                        <table class="table table-figuras">
                                            <thead>
                                                <tr class="text-white">
                                                    <th class="text-center" style="width: 5%;">POS</th>
                                                    <th style="width: 50%;">JUGADOR</th>
                                                    <th class="text-center" style="width: 20%;">TOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for figura in ranking_figuras %}
                                                    <tr class="text-white">
                                                        <td class="text-center">{{ forloop.counter }}</td>
                                                        <td>
                                                            {{ figura.id_jugador__apellido_jugador }}, {{ figura.id_jugador__nombre_jugador }}
                                                            <br>
                                                            <small>{{ figura.id_jugador__temporadasxtorneosxequiposxjugadores__id_equipo__nombre_equipo }}</small>
                                                        </td>
                                                        <td class="text-center">{{ figura.total_figuras }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="text-center">
                                        <p>No hay datos de ranking de figuras disponibles para esta temporada.</p>
                                    </div>
                                {% endif %}
                            </div>
                            
                            <!-- Sección de Tarjetas Amarillas -->
                            <div id="tarjetas-amarillas-section" class="ranking-section d-none">
                                {% if ranking_tarjetas_amarillas %}
                                    <div class="table-responsive">
                                        <style>
                                            .table-tarjetas-amarillas th, .table-tarjetas-amarillas td {
                                                font-size: 12px; /* Ajusta el tamaño de la fuente */
                                                white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                                overflow: hidden; /* Oculta el desbordamiento del texto */
                                                text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                                            }
                                        </style>
                                        <table class="table table-tarjetas-amarillas">
                                            <thead>
                                                <tr class="text-white">
                                                    <th class="text-center" style="width: 5%;">POS</th>
                                                    <th style="width: 50%;">JUGADOR</th>
                                                    <th class="text-center" style="width: 20%;">TOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for jugador in ranking_tarjetas_amarillas %}
                                                    <tr class="text-white">
                                                        <td class="text-center">{{ forloop.counter }}</td>
                                                        <td>
                                                            {{ jugador.id_jugador__apellido_jugador }}, {{ jugador.id_jugador__nombre_jugador }}
                                                            <br>
                                                            <small>{{ jugador.id_jugador__temporadasxtorneosxequiposxjugadores__id_equipo__nombre_equipo }}</small>
                                                        </td>
                                                        <td class="text-center">{{ jugador.total_tarjetas_amarillas }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="text-center">
                                        <p>No hay datos de ranking de tarjetas amarillas disponibles para esta temporada.</p>
                                    </div>
                                {% endif %}
                            </div>
                        
                            <!-- Sección de Tarjetas Rojas -->
                            <div id="tarjetas-rojas-section" class="ranking-section d-none">
                                {% if ranking_tarjetas_rojas %}
                                    <div class="table-responsive">
                                        <style>
                                            .table-tarjetas-rojas th, .table-tarjetas-rojas td {
                                                font-size: 12px; /* Ajusta el tamaño de la fuente */
                                                white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                                overflow: hidden; /* Oculta el desbordamiento del texto */
                                                text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                                            }
                                        </style>
                                        <table class="table table-tarjetas-rojas">
                                            <thead>
                                                <tr class="text-white">
                                                    <th class="text-center" style="width: 5%;">POS</th>
                                                    <th style="width: 50%;">JUGADOR</th>
                                                    <th class="text-center" style="width: 20%;">TOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for jugador in ranking_tarjetas_rojas %}
                                                    <tr class="text-white">
                                                        <td class="text-center">{{ forloop.counter }}</td>
                                                        <td>
                                                            {{ jugador.id_jugador__apellido_jugador }}, {{ jugador.id_jugador__nombre_jugador }}
                                                            <br>
                                                            <small>{{ jugador.id_jugador__temporadasxtorneosxequiposxjugadores__id_equipo__nombre_equipo }}</small>
                                                        </td>
                                                        <td class="text-center">{{ jugador.total_tarjetas_rojas }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="text-center">
                                        <p>No hay datos de ranking de tarjetas rojas disponibles para esta temporada.</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tercera caja -->
                <div class="col-md-12 mb-3">
                    <div class="p-3 rounded" style="background-color: #000000; color: #ffffff; border: 2px solid #ffffff;">
                        <h3 class="text-center mb-3">Ranking de Equipos</h3>
                
                        <!-- Subtítulo de Valla Menos Vencida -->
                        <h6 class="text-center mb-3">VALLA MENOS VENCIDA</h6>
                
                        <!-- Tabla de ranking de equipos con menos goles recibidos -->
                        <div class="table-responsive" style="max-height: 250px; overflow-y: auto;">
                            <style>
                                .table-custom th, .table-custom td {
                                    font-size: 12px; /* Ajusta el tamaño de la fuente */
                                    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                    overflow: hidden; /* Oculta el desbordamiento del texto */
                                    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                                }
                                .table-responsive::-webkit-scrollbar {
                                    display: none;
                                }
                                .table-responsive {
                                    -ms-overflow-style: none;  /* Internet Explorer 10+ */
                                    scrollbar-width: none;  /* Firefox */
                                }
                            </style>
                            {% if ranking_equipos_menos_goles %}
                                <table class="table table-custom">
                                    <thead>
                                        <tr class="text-white">
                                            <th class="text-center" style="width: 5%;">POS</th>
                                            <th style="width: 50%;">EQUIPO</th>
                                            <th class="text-center" style="width: 20%;">GOLES RECIBIDOS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for equipo, goles in ranking_equipos_menos_goles %}
                                            <tr class="text-white">
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td>{{ equipo }}</td>
                                                <td class="text-center">{{ goles }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center">
                                    <p>No hay datos de ranking de equipos disponibles para esta temporada.</p>
                                </div>
                            {% endif %}
                        </div>

                        
                    </div>
                </div>

                <!-- Cuarta caja -->
                <div class="col-md-12">
                    <div class="p-3 rounded" style="background-color: #000000; color: #ffffff; border: 2px solid #ffffff;">
                        <h3 class="text-center">Estadísticas</h3>

                        <!-- Estilo caja de estadísticas -->
                        <style>
                            .estadisticas {
                                font-size: 16px; /* Ajusta el tamaño de la fuente */
                                white-space: nowrap; /* Evita que el texto se divida en varias líneas */
                                overflow: hidden; /* Oculta el desbordamiento del texto */
                                text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
                            }
                        </style>
                        
                        <!-- Contenedor de las filas -->
                        <div class="row justify-content-center estadisticas">
                            <!-- Fila 1 -->
                            <div class="col-md-6">Equipos Participantes</div>
                            <div class="col-md-4 text-center">{{ equipos_participantes|length }}</div>
                            <!-- Fila 2 -->
                            <div class="col-md-6">Partidos Jugados</div>
                            <div class="col-md-4 text-center">{{ total_partidos_jugados }}</div>
                            <!-- Fila 3 -->
                            <div class="col-md-6">Partidos ganados</div>
                            <div class="col-md-4 text-center">{{ total_partidos_ganados }}</div>
                            <!-- Fila 4 -->
                            <div class="col-md-6">Partidos empatados</div>
                            <div class="col-md-4 text-center">{{ total_partidos_empatados }}</div>
                            <!-- Fila 5 -->
                            <div class="col-md-6">Partidos perdidos</div>
                            <div class="col-md-4 text-center">{{ total_partidos_perdidos }}</div>
                            <!-- Fila 6 -->
                            <div class="col-md-6">Goles</div>
                            <div class="col-md-4 text-center">{{ total_goles }}</div>
                            <!-- Fila 7 -->
                            <div class="col-md-6">Tarjetas Amarillas</div>
                            <div class="col-md-4 text-center">{{ total_tarjetas_amarillas }}</div>
                            <!-- Fila 8 -->
                            <div class="col-md-6">Tarjetas Rojas</div>
                            <div class="col-md-4 text-center">{{ total_tarjetas_rojas }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Incluye el JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const btnIzquierda = document.getElementById('btn-izquierda');
    const btnDerecha = document.getElementById('btn-derecha');
    const rankingSubtitle = document.getElementById('ranking-subtitle');
    const goleadoresSection = document.getElementById('goleadores-section');
    const figurasSection = document.getElementById('figuras-section');
    const tarjetasAmarillasSection = document.getElementById('tarjetas-amarillas-section');
    const tarjetasRojasSection = document.getElementById('tarjetas-rojas-section');

    let currentSection = 'goleadores';

    function updateSections() {
        if (currentSection === 'goleadores') {
            goleadoresSection.classList.remove('d-none');
            figurasSection.classList.add('d-none');
            tarjetasAmarillasSection.classList.add('d-none');
            tarjetasRojasSection.classList.add('d-none');
            rankingSubtitle.textContent = 'GOLEADORES';
        } else if (currentSection === 'figuras') {
            goleadoresSection.classList.add('d-none');
            figurasSection.classList.remove('d-none');
            tarjetasAmarillasSection.classList.add('d-none');
            tarjetasRojasSection.classList.add('d-none');
            rankingSubtitle.textContent = 'JUGADORES FIGURAS';
        } else if (currentSection === 'tarjetas-amarillas') {
            goleadoresSection.classList.add('d-none');
            figurasSection.classList.add('d-none');
            tarjetasAmarillasSection.classList.remove('d-none');
            tarjetasRojasSection.classList.add('d-none');
            rankingSubtitle.textContent = 'TARJETAS AMARILLAS';
        } else if (currentSection === 'tarjetas-rojas') {
            goleadoresSection.classList.add('d-none');
            figurasSection.classList.add('d-none');
            tarjetasAmarillasSection.classList.add('d-none');
            tarjetasRojasSection.classList.remove('d-none');
            rankingSubtitle.textContent = 'TARJETAS ROJAS';
        }
    }

    btnIzquierda.addEventListener('click', function() {
        if (currentSection === 'goleadores') {
            currentSection = 'tarjetas-rojas';
        } else if (currentSection === 'figuras') {
            currentSection = 'goleadores';
        } else if (currentSection === 'tarjetas-amarillas') {
            currentSection = 'figuras';
        } else if (currentSection === 'tarjetas-rojas') {
            currentSection = 'tarjetas-amarillas';
        }
        updateSections();
    });

    btnDerecha.addEventListener('click', function() {
        if (currentSection === 'goleadores') {
            currentSection = 'figuras';
        } else if (currentSection === 'figuras') {
            currentSection = 'tarjetas-amarillas';
        } else if (currentSection === 'tarjetas-amarillas') {
            currentSection = 'tarjetas-rojas';
        } else if (currentSection === 'tarjetas-rojas') {
            currentSection = 'goleadores';
        }
        updateSections();
    });

    // Inicializar la vista correcta al cargar la página
    updateSections();
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const fechas = document.querySelectorAll('.fecha-item');
        const fechaSeleccionada = document.getElementById('fechaSeleccionada');
        const prevFecha = document.getElementById('prevFecha');
        const nextFecha = document.getElementById('nextFecha');
        const listaPartidos = document.getElementById('listaPartidos');
        let currentIndex = 0;

        function mostrarPartidos(index) {
            const partidos = fechas[index].querySelector('ul').innerHTML;
            listaPartidos.innerHTML = partidos;
            fechaSeleccionada.textContent = fechas[index].getAttribute('data-fecha');
        }

        prevFecha.addEventListener('click', function() {
            if (currentIndex > 0) {
                currentIndex--;
                mostrarPartidos(currentIndex);
            }
        });

        nextFecha.addEventListener('click', function() {
            if (currentIndex < fechas.length - 1) {
                currentIndex++;
                mostrarPartidos(currentIndex);
            }
        });

        // Mostrar los partidos de la fecha a mostrar al cargar la página
        const fechaAMostrar = "{{ fecha_a_mostrar.nombre_fecha }}";
        fechas.forEach((fecha, index) => {
            if (fecha.getAttribute('data-fecha') === fechaAMostrar) {
                currentIndex = index;
            }
        });
        mostrarPartidos(currentIndex);
    });
</script>
{% endblock %}
